<?xml version='1.0'?>

<launch>

  <!-- spawn car_1 and launch Gazebo -->
  <include     file           = '$(find f1tenth-sim)/config/one_car.launch.xml'>
  <arg         name           = 'car_name'
               value          = 'car_1'/>
  <arg         name           = 'x_pos'
               value          = '-9.0'/>
  <arg         name           = 'y_pos'
               value          = '-5.0'/>
  <arg         name           = 'paint'
               value          = 'DarkGray'/>
  <arg         name           = 'run_gazebo'
               value          = 'true'/> </include>

  <!-- visualize the laser scan -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find f1tenth-sim)/rviz/laser_scan.rviz" />

</launch>
